  .cart_items{
    .cart_item{
      padding: 10px 20px;
      border: 1px solid $mainColor;
      @include displayFlex($justify : space-between , $gap : 20px);
      border-radius: 8px;
      &:not(:last-of-type){
        margin-bottom: 10px;
      }
      .product_info{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 8px;
        &.product_details{
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;
          flex-grow: 0;
          .image{
            max-width: 200px;
            border-radius: 8px;
            overflow: hidden;
            height: 100%;
          }
          .details{
            p{
              font-size: 14px;
              margin-bottom: 5px;
              font-weight: 400;
              span{
                font-weight: bold;
              }
            }
          }
        }
        h4{
          font-size: 16px;
          font-weight: 400;
        }
        h6{
          font-size: 20px;
          font-weight: 800;
          &.status{
            padding: 8px;
            color: #fff;
            border-radius: 5px;
            &.pending{
              background-color: $pendingColor;
            }
            &.prepared{
              background-color: $preparedColor;
            }
            &.delivered{
              background-color: $deliveredColor;
            }
            &.cancelled{
              background-color: $cancelledColor;
            }
          }
        }

        .control_quantity{
          span{
            font-size: 25px;
            margin-inline: 10px;
          }
          button{
            font-size: 28px;
            width: 40px;
            height: 40px;
            border: 1px solid $mainColor;
            transition: 0.3s;
            border-radius: 8px;
            &:hover{
              background: $mainColor;
              color: #fff;
            }
          }
        }

        &.product_remove{
          flex-grow: 0;
          button{
            font-size: 25px;
            color: $mainColor;
            transition: 0.3s;
            padding: 10px;
            border: 1px solid transparent;
            &:hover{
              border-color: $mainColor;
              border-radius: 5px;
              background: $mainColor;
              color: #fff;
            }
          }
        }
      }
    }
    @media (max-width : 767px){
      @include displayGrid(180px , $gap : 20px 8px);
      .cart_item{
        flex-direction: column;
        width: fit-content;
        gap: 0;
        width: 100%;
        padding: 0px;
        overflow: hidden;
        margin-bottom: 0 !important;
        .product_info{
          flex-grow: 0;
          height: fit-content;
          width: 100%;
          height: fit-content;
          padding: 10px 20px;
          display: inline-flex;
          &:not(:last-of-type){
            border-bottom: 1px solid #e4e4e4;
          }
          &.product_details{
            flex-direction: column;
            padding : 0;
            gap: 8px;
            .image{
              max-width: unset;
              width: 100%;
              height: 200px;
            }
            .details{
              display: flex;
              gap: 10px;
              width: 100%;
              flex-wrap: wrap;
              justify-content: space-evenly;
            }
          }
          &:last-of-type:not(.product_status){
            width: 100%;
            padding: 0;
            background: #fff;
            button{
              color: $mainColor;
            }
            &:hover{
              background: $mainColor;
              button{
                color: #fff;
              }
            }
          }
        }
      }
    }
  }