.popup{
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000CC;
  z-index: 3000;
  backdrop-filter: blur(4px);
  .close_btn{
    position: absolute;
    inset-inline-end: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 50%;
    transition: 0.6s;
    border: 1px solid $dangerColor;
    color: $dangerColor;
    z-index: 99;
    &:hover{
      border: 1px solid transparent;
      background: $dangerColor;
      color: #fff;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
    background: #fff;
    padding-block: 20px clamp(20px , 2.5vw , 20px);
    text-align: center;
    padding-inline: clamp(8px , 2.5vw , 15px);
    // overflow: hidden !important;
    height: fit-content !important; 
    max-height: 600px;
    overflow: hidden scroll;
    transition: 1s;
    &::-webkit-scrollbar{
      display: none !important; 
    }
    .image{
      max-width: 200px;
      margin: 0 auto 20px;
      &.circle{
        max-width: unset;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        padding: 50px;
        background: $mainColor;
      }
    }
    h4{
      text-align: start;
      font-size: clamp(16px , 4vw , 20px);
      font-weight: 500;
      border-bottom: 1px solid $secColor;
      padding-bottom: 10px;
      margin-bottom: clamp(20px , 4vw ,40px);
      &.centered{
        text-align: center;
        margin-bottom: 24px;
      }
    }
    p{
      font-size: clamp(14px , 2.5vw , 16px);
      font-weight: 400;
      // margin-bottom: 20px;
    }
    label{
      text-align: start;
      display: block;
    }
    .input{
      margin-bottom: 30px;
    }
    .buttons{
      @include displayFlex($gap : 5px);
      button.delete_btn{
        background: #A80202;
        &:hover{
          border-color:#A80202 !important;
          color: #A80202;
          background: #fff;
        }
      }
      @media (max-width : 700px){
        flex-wrap: wrap;
      }
    }
  }
}