.product_item{
  border: 1px solid $mainColor;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  .image{
    height: 300px;
    position: relative;
    background: $thirdColor;
    padding: 50px;
    @include displayFlex();
    img{
      width: 60%;
      object-fit: contain;
    }
    .rating{
      padding: 5px 8px 6px;
      border-radius: 5px;
      background: #fff;
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      gap: 8px;
      align-items: center;
      i.pi{
        color: gold;
      }
      p{
        font-size: 14px;
        transform: translateY(3px);
      }
    }
  }

  .product_info{
    padding: 20px 8px 25px;
    h5{
      font-size: 50px;
      font-weight: 600;
      font-family: "Lavishly Yours", cursive;
    }
    
    .price {
      margin-block: 10px;
      font-size: 16px;
      font-weight: 300;
      span{
        font-size: 20px;
        font-weight: 800;
        color: $mainColor;
        del{
          font-size: 14px;
          margin-inline-start: 10px;
          font-weight: 300;
          color: grey;
        }
      }
    }
    
    
    .control_quantity{
      span{
        font-size: 25px;
        margin-inline: 10px;
      }
      button{
        font-size: 28px;
        width: 40px;
        height: 40px;
        border: 1px solid $mainColor;
        transition: 0.3s;
        border-radius: 8px;
        &:hover{
          background: $mainColor;
          color: #fff;
        }
        &:disabled{
          background: grey;
          color: #fff;
          border-color: transparent;
        }
      }
    }

  }
  button.main-btn{
    position: absolute;
    bottom: -10px;
    inset-inline-end: 10px;
    @include circle(50px);
    justify-content: center;
    gap: 0;
    margin-top: 0;
    opacity: 0;
    span{
      width: 0;
      overflow: hidden;
      transition: 1s;
    }
    &:hover{
      i.pi{
        margin: 0;
      }
      span{
        width: auto;
        overflow: visible;
        margin-inline-end: 10px;
      }
    }
  }
  &:hover{
    transform: translateY(-8px);
    box-shadow: 0 5px 10px #e4e4e4;
    border-color: transparent;
    .main-btn{
      opacity: 1 ;
      bottom: 20px;
    }
  }
}


.colors{
  @include displayFlex($justify : flex-start , $gap : 5px);
  p{
    font-size: 16px;
    font-weight: 300;
  }
  li{
    @include circle(30px);
    border: 1px solid #ccc;
    cursor: pointer;
    @include displayFlex();
    span{
      @include circle(22px);
    }
    &.active{
      background: #00000066;
    }
  } 
}