/* MAIN FONT FAMILY */
$fontFamily: "Expo Arabic";

// ========== DEFINE MAIN VARIABLES ==============

// TRANSITIONS WITH DIFFRENT TIMES
$transition: all 0.5s ease-in-out;
$transition3: all 0.3s ease-in-out;
$transition7: all 0.7s ease-in-out;


/* MAIN FONT SIZE */
$fontSize: clamp(14px , 2.5vw , 18px);

/* COLORS VARIABLES */
$mainColor: #b76a96; // main site color
$secColor: #dfbcd4 ; // secondary site color
$thirdColor: #ededed; // third site color
$whiteColor: #fcfbf9; // white color
$textColor: #666666;  // main text color
$dangerColor : #ff3737;
$pendingColor: #ff9900;
$preparedColor: #34c759;
$deliveredColor: #4567b7;
$cancelledColor: #ff3737;

// $btnColor:#4C637F;