// import variables 
@import "./variables";
@import "./generic";
@import "./mixins";
@import "./main-btn";
@import "./form";
@import "./popup";
@import "./flex_buttons";
@import "./cart_items";


  .container{
    max-width: clamp(300px, 100%, 1800px);
    margin: 0 auto;
    padding-inline: 20px;
    transition: 1s;
    &.page_active{
      // margin-inline-start: 275px !important;
      justify-content: flex-end;
      transition: 1s;
      @media (max-width : 767px) {
        transition: 1s;
        margin-inline-start: 0 !important;
      }
    }
  }


  // Style the headers
  h3.title{
    font-size: 20px;
    margin-bottom: 20x;
    &.centered{
      font-size: clamp(25px , 2.5vw , 40px);
      text-align: center;
      margin-bottom: 30px;
    }
  }


  .underline_header{
    font-size: 40px;
    font-weight: 600;
    margin-block-end: 50px;
    position: relative;
    width: fit-content;
    &::after{
      content: '';
      position: absolute;
      inset-inline-start: 0;
      bottom: 0;
      width: 70%;
      height: 5px;
      background: $mainColor;
      border-radius: 5px;
    }
  }



  // style the rating star icon
  .p-rating-icon{
    cursor: default;
  }
  .p-rating-option-active .p-rating-icon{
    color: gold !important;
  }